* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: grid;
    grid-template-rows: 160px 1fr;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    grid-row: 1/3;
    background-color: #1992d2;
    display: grid;
    grid-template-rows: 80px 600px;
    gap: 30px;
}

.sidebar-heading {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.sidebar-heading img {
    width: 60px;
    height: 60px;
}

.sidebar-heading div:first-child {
    display: grid;
    justify-content: center;
    align-content: center;
}

.sidebar-heading div:last-child {
    align-self: center;
}

.sidebar-content {
    display: grid;
    grid-template-rows: 350px 150px;
    gap: 50px;
}

.sidebar img {
    filter: invert(99%) sepia(0%) saturate(7500%) hue-rotate(231deg) brightness(103%) contrast(101%);
}

.sidebar-content img {
    width: 30px;
    height: 30px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 80px 1fr;
}

ul:first-child {
    grid-template-rows: repeat(6, 50px);
}

ul:last-child {
    grid-template-rows: repeat(3, 50px);
}

li {
    display: grid;
    align-items: center;
}

li:nth-child(odd) {
    justify-content: center;
}

h1, li p {
    color: #fff;
}

li p {
    font-size: 1.3rem;
    font-weight: 600;
}

.header div {
    /* border: 2px solid; */
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 80px);
}

.header-row {
    display: grid;
}

.header-row.row-1 {
    grid-template-columns: 2fr 1fr;
}

.header-row.row-2 {
    grid-template-columns: repeat(2, 1fr);
}

.search-area {
    display: grid;
    grid-template-columns: 40px 400px;
}

.search-icon {
    text-align: center;
    align-self: center;
}

.search-icon img {
    width: 30px;
    height: 30px;
}

.search-bar {
    display: grid;
    align-items: center;
}

input {
    border: none;
    background-color: #e2e8f0;
    border-radius: 10px;
    width: 100%;
    height: 35px;
}

.notifs-area {
    display: grid;
    grid-template-columns: 40px 40px 200px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.notifs-icon img {
    width: 25px;
    height: 25px;
} 

.notifs-icon {
    justify-self: end;
}

.profile-pic {
    justify-self: center;
}

.notifs-area .cat-wrapper {
    width: 40px;
    height: 40px;
}

.cat-wrapper {
    border-radius: 50%;
    background-color: #facc15;
    display: grid;
    justify-content: center;
    align-content: center;
}

.notifs-area img[alt="cat"] {
    width: 30px;
    height: 30px;
}

.notifs-area .name p {
    font-size: 1.2rem;
    font-weight: 600;
}

.greeting-area {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.greeting-area .profile-pic {
    align-self: center;
}

.greeting-area .cat-wrapper {
    width: 60px;
    height: 60px;
}

.greeting-area img {
    width: 50px;
    height: 50px;
}

.greeting {
    align-self: center;
}

.greeting p:first-child {
    font-size: 1.2rem;
    font-weight: 500;
}

.greeting p:last-child {
    font-size: 1.4rem;
    font-weight: 700;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: #1992d2;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects-column>div {
    border: 2px solid;
}

.projects-column {
    display: grid;
    grid-template-rows: 50px repeat(3, 225px);
    grid-template-columns: repeat(2, 1fr);
}

.projects-heading {
    grid-column: 1/3;
}

.project-card {
    background-color: #fff;
}

.last-column div {
    border: 2px solid;
}

.last-column {
    display: grid;
    grid-template-rows: 400px 325px;
}

.announcements-row, .trending-row {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcement-card, .trending-card {
    display: grid;
}

.announcement-card {
    grid-template-rows: repeat(3, 1fr);
}

.trending-card {
    grid-template-rows: repeat(4, 1fr);
}